<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">

      <h1>You don't have access to that page</h1>

      <br/>

      <div class="lead">
        <p>
          Please log in to an account with the requisite access level or
          <%= link_to 'return to the homepage', root_path %>.
        </p>
      </div>

    </div>
  </div>
</div>
