<p>Hi <%= @name %>,</p>

<p>
Thanks for adding your action to the <%= ENV['APP_NAME'] %> calendar. Your submission has been successfully received. It will be reviewed by our team before being published and promoted on our website.
</p>

<p>
Regards,<br>
<%= ENV['APP_NAME'] %> team
</p>